__pycache__/
build/pyordle/Analysis-00.toc
build/pyordle/base_library.zip
build/pyordle/EXE-00.toc
build/pyordle/PKG-00.toc
build/pyordle/pyordle.exe.manifest
build/pyordle/pyordle.pkg
build/pyordle/PYZ-00.pyz
build/pyordle/PYZ-00.toc
build/pyordle/Tree-00.toc
build/pyordle/Tree-01.toc
build/pyordle/Tree-02.toc
build/pyordle/warn-pyordle.txt
build/pyordle/xref-pyordle.html
pyordle.spec
